<div class="player1" style="margin-top: 2cm; text-align: center;">
    <h2>
      <p>Player 1</p>
    </h2>
    <p>Games won: {{user1GamesWon}}</p>
    <p>Score total for game: {{totalScore1}}</p>
    

    <div class="die1">
        <img *ngIf="die1Number!=null" src="../assets/dice{{die1Number}}.svg" style="width:70px;">
    </div>

    <span *ngIf="user1turn === true">
      <button (click)="handleRollDiceButtonClick1()" class="btn btn-primary" style="margin-right: 3cm; margin-top: 1cm">Roll Dice</button>
      <button (click)="handleStickButtonClick1()" class="btn btn-primary" style="margin-top: 1cm">Stick</button>
    </span>
  </div>
