<div class="container">
  <h1 class="display-4 mt-4 mb-4">
    BlackJack Dice Game
  </h1>
  <hr />

  <app-player1 
              [(totalScore1)] = "totalScore1"
              (totalScore1Change) = "totalScore1=$event"
              [(user1turn)] = "p1Turn"
              [user1GamesWon] = "user1GamesWon"
              (user1turnChange)="p1Turn=$event"
              (player1Sticked)="handlePlayer1Sticked($event)"
              ></app-player1>
  <app-player2 
                [(totalScore2)] = "totalScore2"
                (totalScore2Change) = "totalScore2=$event"
                [(user2turn)] = "p2Turn"
                [user2GamesWon] = "user2GamesWon"
                (user2turnChange)="p2Turn=$event"
                (player2Sticked)="handlePlayer2Sticked($event)"
                ></app-player2>

 
</div>