<div class="container">
  <h1 class="display-4 mt-4 mb-4">
    BlackJack Dice Game
  </h1>
  <p>First to win 5 games wins match</p>
  <hr />

  <app-player1 
              [(totalScore1)] = "totalScore1"
              [die1Number] = "die1Number"
              (totalScore1Change) = "totalScore1Inc($event)"
              [(user1turn)] = "p1Turn"
              [user1GamesWon] = "user1GamesWon"
              (user1turnChange)="p1Turn=$event"
              (player1Sticked)="handlePlayer1Sticked($event)"
              (player1GoneOver)="handlePlayer1GoneOver($event)"
              ></app-player1>
  <app-player2 
                [(totalScore2)] = "totalScore2"
                (totalScore2Change) = "totalScore2Inc($event)"
                [die2Number] = "die2Number"
                [(user2turn)] = "p2Turn"
                [user2GamesWon] = "user2GamesWon"
                (user2turnChange)="p2Turn=$event"
                (player2Sticked)="handlePlayer2Sticked($event)"
                (player2GoneOver)="handlePlayer2GoneOver($event)"
                ></app-player2>

 
</div>